#cards{
    margin-top: 15px;
}

#dropDown{
    cursor: pointer;
    margin-left: 5px;
    font-size: 30px;
}

#contactName{
    cursor: pointer;
    position: relative;
    top: 15px;
}

.fa-trash-alt{
    color: red;
}